*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
}
.container div{
    width: 100%;
    height: 100px;
}
.d1{
    background-color: beige ;
}
.d2{
    background-color: burlywood;
}
.d3{
    background-color: brown;
}
.d4{
    background-color: maroon;
}
.d5{
    background-color: darkblue;
}
.d6{
    background-color: black ;
}
@media (min-width: 768px){
    .container{
        flex-direction: row;
    }
}
/*Let's do another one :

    In a new project (index.html and styles.css)
    Create a container to center the content in the page
    Inside of it, create a flex container and inside 6 divs.
    Give each div a width of 100% (it will take the maximum available space) and a height of 100px
    Give each div a different background color.
    Look at it in a laptop view (1440)
    In the inspector, play with the responsiveness.
    Look how small they get in a mobile size !!!!
    Let's stack them ! Use a media query to give the flex container a column direction on mobile and row direction on a bigger scree.
    TIP : Even tough we can use max-width in the media query, the highly recommended worflow is mobile-first ! So declare your css for mobile and then with media query use min-width.*/

